.grptitle {
    background-color: #718dba;
    color: white !important;
}

.myGreen {
    font-size: 0.9em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.header-estile {
    background-color: green!important;
    border: 1px solid !important;
    color: blanchedalmond !important;
}

.color {
    background: #9ac7bd !important;
   
}
.color2 {
    background: #aa628c !important;
}

.Selected-color {
    background: #e6d32f !important;
}

.item-background-color{
    --ion-item-background: transparent !important;
}