<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button  tabTitle="info-parte" tab="info-parte-tab/0">
      <ion-icon name="information-outline"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-tab-button>

    <ion-tab-button   tab="parte-tab" tab="parte-tab/0">
      <ion-icon name="browsers"></ion-icon>
      <ion-label>Parte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trabajos-tab">
      <ion-icon name="list"></ion-icon>
      <ion-label>Trabajos</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="fotos-tab">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Fotos</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="galeria-tab">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>Galería</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="firma-tab">
      <ion-icon name="pencil-outline"></ion-icon>
      <ion-label>Firma</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="presupuesto-tab">
      <ion-icon name="pencil-outline"></ion-icon>
      <ion-label>solicitud <br>Presupusto</ion-label>
    </ion-tab-button> -->
    
  </ion-tab-bar>

</ion-tabs>