<ion-grid>
  <ion-row>
    <ion-col size="6" (click)="goNotificaciones()" class="badge-wrapper">
  <app-menu-card
    imagen="bandeja-de-entrada.png"
    titulo="Notificaciones"
    contenido="Notificaciones de servicios a realizar">
  </app-menu-card>

  <ion-badge *ngIf="numNoLeidos > 0"
             color="danger"
             class="notificacion-badge">
    {{ numNoLeidos }}
  </ion-badge>
</ion-col>

    <ion-col size="6" (click)="goPartes()">
      <app-menu-card
      imagen="servicio.png"
      titulo="Partes"
      contenido="Partes asignados">
    </app-menu-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col  size="6" (click)="goPresupuestos()">
      <app-menu-card
      imagen="presupuestos.png"
      titulo="Presupuestos"
      contenido="Presupuestos">
    </app-menu-card>
    </ion-col>
  </ion-row>
</ion-grid>
